<table class='table table-hover table-inverse'>
  <thead>
    <tr> 
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
          <% end %>
        </td>
        <td><%= link_to book.title,book, class: "book_#{book.id}" %></td>
        <td><%= book.body %></td>
        <!-- いいね機能 -->
        <td>
          <% if book.favorited_by?(current_user) %>
            <%= link_to book_favorites_path(book, redirect_id: 0), method: :delete do %>
              <%#= fa_icon "heart", text: "#{book.favorites.count}", style: "color: red;" %>
              <span class="glyphicon glyphicon-heart"><%= book.favorites.count%></span>
            <% end %>
          <% else %>
            <%= link_to book_favorites_path(book, redirect_id: 0), method: :post do %>
              <%#= fa_icon "heart-o", text: "#{book.favorites.count}", style: "color: red;" %>
              <span class="glyphicon glyphicon-heart-empty"><%= book.favorites.count %></span>
            <% end %>
          <% end %>
        </td>
        <td>コメント数：<%= book.book_comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>